# Passwords for database
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Secret key for django app settings
SECRET_KEY=

# DEBUG SETTINGS
DEBUG=

# EMAIL SETTINGS

#CACHES SETTINGS