# Passwords for database
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Secret key for django app settings
SECRET_KEY=

# DEBUG SETTINGS
DEBUG=

# Secret api key for stripe payments
STRIPE_API_KEY=

# Redis settings
REDIS_BROKER_URL=
REDIS_RESULT_BACKEND=

# EMAIL SETTINGS
MY_EMAIL_HOST_PASSWORD=